{
  "presets": [["next/babel"]],
  "plugins": [
    ["module-resolver", {
      "root": ["./src/app"],
      "alias": {
        "~": "./src/app",
        "@helpers": "./src/app/helpers",
        "@utils": "./src/app/utils"
      }
    }]
  ]
}